.l-banner-c{
    display: block;
    height: 364px;
    text-align: center;
    background: url(../../images/annual/annual-banner.png) center top no-repeat;
}
.l-main-column-an{
    width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.annual-pic{
    display: inline-block;
    width: 768px;
    height: 404px;
    padding: 18px 13px;
    background: #fff;
    border: 1px solid #ddd;
    margin-right: 16px;
    overflow: hidden;
    li{
        
    }
}