.l-banner-c{
    display: block;
    height: 364px;
    text-align: center;
    background: url(../../images/annual/annual-banner.png) center top no-repeat;
}
.l-main-column-an{
    width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.l-annual-banner{
    display: block;
    width: 794px;
    .controler{
        text-indent: -9999px;
        display: block;
        width: 264px;
        position: relative;
        top: -138px;
        left: 500px;
        z-index: 999;
        b{
            display: block;
            width: 68px;
            height: 8px;
            background: #fff;
            float: left;
            margin-right: 20px;
        }
    }
}
.annual-pic{
    display: inline-block;
    width: 768px;
    height: 404px;
    padding-top: 18px;
    padding-left: 12px;
    padding-bottom: 18px;
    background: #fff;
    border: 1px solid #ddd;
    margin-right: 16px;
    overflow: hidden;
    li{
        display: block;
        width: 781px;
        height: 404px;
        overflow: hidden;
    }
}
.anpic-tit{
    position: relative;
    top: -96px;
    left: 13px;
    display: inline-block;
    width: 748px;
    height: 78px;
    line-height: 78px;
    background: rgba(0,0,0,0.6);
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    padding-left: 20px;
    font-family: 'Microsoft Yahei';
}
.annual-topic{
    display: block;
    width: 388px;
    height: 440px;
    border: 1px solid #ddd;
    float: right;
    text-align: center;
    .topic-tit{
        display: block;
        width: 388px;
        height: 34px;
        background: url(../../images/annual/topic-tit.png) top center no-repeat;
        margin: 24px auto;
    }
    >p{
        line-height: 26px;
        font-size: 14px;
    }
}