// quick import
@import "./all.less";
@import "./login.less";
@import "./register.less";
// override global variables
@support-ie-version: 10;
@default-font-size: 14px;
@support-ie-version: 7;
@use-autoprefixer: false;
@support-html5: true;
@default-text-color:#6c6c6c;
@default-input-placeholder-color:#999;
@default-base-font-family:"SimSun", Arial, sans-serif;
@default-heading-font-family:"Helvetica Neue", Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif,"SimSun", sans-serif;;
@default-old-ie-heading-font-family:"Microsoft YaHei", Arial, sans-serif;
@default-code-font-family:Monaco, Consolas, monospace;
@default-border-radius:5px;
@default-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
// global scope
.global-reset();
// global scope
.reset-html5();
// // global scope
// .global-normalize();

body {
    .reset-body();
    .font-color-hei();
    .reset-box-model();
    .reset-font();
    .font-color-hui();
    font-family:Tahoma,Arial,"Helvetica Neue","Hiragino Sans GB",Simsun,sans-self;
}
a{
    .font-color-hui();
    text-decoration: none;
}
table {
    .reset-table();
}
td, th {
    .reset-table-cell();
}
ul, ol {
    .reset-list-style();
}
textarea {
    .placeholder(lightblue);
}

// float layout
.l-left{
    float: left;
}
.l-right{
    float: right;
}
.icon-drop-down{
    background: url(../../images/icon-drop-down.png) no-repeat center right;
}
.border-bottom{
    border-bottom: #ddd solid 1px;
}

// l-top-column
.l-top-column{
    .clearfix();
    width: 100%;
    height: 44px;
    background:#FAFAFA;
    border-bottom: 1px solid #ddd;
}
.top-column-mian {
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;
    .centered-line(44px);
        .l-left{
            a{
                margin-left:12px;
                .hover-link();
            }
        }
        .l-right{
            li{
                width: 90px;
                float: left;
                padding-right: 10px;
                list-style-type: none;
                text-align: center;
            }
            a{
                padding-right: 10px;
                .hover-link();
            }
        }
        .l-right li:hover .dorp-down-user{
            display: block;
            height: auto;
        }
        .dorp-down-user{
            display: none;
            position: absolute;
            top:44px;
            width:90px;
            height: 0px;
            height: auto;
            background: #fff;
            border: #ddd solid 1px;
            z-index: 9999;
            overflow: hidden;
            -webkit-transition: height .5s ease;
            -moz-transition: height .5s ease;
            -o-transition: height .5s ease;
            -ms-transition: height .5s ease;
            transition: height .5s ease;
            .clearfix();
            li{
                float: left;
                padding-right: 0;
                line-height: 34px;
            }
        }
}

// l-header
@lan:#2294DC;
.l-header{
   width: 100%;
}
.l-header-top{
    width: 1200px;
    margin: 0 auto;
    padding-top: 22px;
    .clearfix();
}

.u-search{
    width: 590px;
    margin: 10px auto;
}
.u-users{
    width:214px;
    li{
        position: relative;
        width: 67px;
        height: 67px;
        float: left;
        text-align: center;
        &:hover{
            p{
                color: @lan;
            }
            .weixin{
                background: url(../../images/icon-weixin-hover.jpg) top center no-repeat;
            }
            .mobile{
                background: url(../../images/icon-app-hover.jpg) top center no-repeat;
            }
            .mydeal{
                background: url(../../images/icon-user-hover.jpg) top center no-repeat;
            }
        }
        a{
            display: inline-block;
            width: 37px;
            height: 37px;
        }
        .weixin{
            background: url(../../images/icon-weixin.jpg) top center no-repeat;
        }
        .mobile{
            background: url(../../images/icon-app.jpg) top center no-repeat;
            &:hover{
                background: url(../../images/icon-app-hover.jpg) top center no-repeat;
            }
        }
        .mydeal{
            background: url(../../images/icon-user.jpg) top center no-repeat;
            &:hover{
                background: url(../../images/icon-user-hover.jpg) top center no-repeat;
            }
        }
        p{

            margin-top: 8px;
            font-size: 12px;

        }
         em{
                position: absolute;
                width: 9px;
                height: 9px;
                top: 0;
                right: 14px;
                background:#FF6666;
                border-radius: 10px;
            }

    }


}
.l-header-bottom{
    width: 100%;
    height: 45px;
    border-bottom:#2294DC 3px solid;
}
.l-nav{
    width: 1200px;
    margin: 0 auto;
    height: 45px;
    li{
        float: left;
        width: 130px;
        height: 45px;
        a{
            display: inline-block;
            width: 100%;

            text-align: center;
            font-size: 24px;
            .centered-line(45px);
            .font-color-hei();
            .font-h();
            &:hover{
                background:@lan;
                color: #fff;
            }
        }
        .active{
            background:@lan;
            color: #fff;
        }

    }
    .u-iPhone{
        // .centered-line(45px);
        padding-top: 14px;
    }
}


// banner
.l-banner{
    width: 100%;
    background:#F4F4F4;
    overflow: hidden;

}
.l-banner-r{
    width: 1200px;
    height:300px;
    margin: 0 auto;
    position: relative;
}
.u-page{
    position: absolute;
    width: 34px;
    height: 126px;
    top: 50%;
    margin-top: -63px;
    z-index: 9999;
}
.u-prev{
    .u-page();
    .hide-text();
    left: -56px;
    background: url(../../images/icon-prev.gif) no-repeat center center;
}
.u-next{
    .u-page();
    .hide-text();
    right: -56px;
    background: url(../../images/icon-next.gif) no-repeat center center;
}
#banner{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    ul,.ul{
        overflow:hidden;clear:both;*zoom:1;
    }

    li,.li{
        list-style:none;
        width:1200px;
        height:300px;
    }
}
// login
.l-login{
    position: absolute;
    width: 268px;
    height: 260px;
    right: 21px;
    top:21px;
    background: #fff;
    .border-radius(5px;);
    .box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    p{
        padding: 10px 26px 0 26px;
        text-align: right;
        font-size: 12px;
    }
    input{
        display: block;
        width: 190px;
        height: 38px;
        margin: 10px auto 0 auto;
        padding-left: 40px;
        border:1px #ddd solid;
        font-size: 14px;
        .border-radius(5px;);
        // background: url(../../images/icon-input-bg.gif) center center no-repeat;
    }
    .i-user-name{
        background: url(../../images/icon-input-user.png) 8px   center no-repeat;
    }
    .i-user-pwd{
        background: url(../../images/icon-input-pwd.png) 8px center no-repeat;
    }
    .f-login-bnt{
        width: 230px;
        margin: 10px auto;
        display: block;
        background: #35A6EA;
        color: #fff;
        text-align: center;
        .border-radius(5px;);
        .centered-line(39px);
    }


}
.l-logo-tit{
    background:#F1F1F1;
    font-size: 18px;
    color: #656565;
    padding-left: 26px;
    .centered-line(43px);
    .font-s();
    .border-top-radius(5px;);
}


// mian
.mian{
    .est-layout-page(1200px);
}

// main-column-shop
.l-main-column-shop{
    margin-top: 25px;
    height: 494px;
    position: relative;

}
.mian-column-tit{
    .centered-line(48px);
    .clearfix();
      border-bottom: #2294dc 2px solid;
    h2{
        .centered-line(36px);

        span{
            font-weight: 500;
        }
    }
}
.mian-column-bnt{
    .f-user-buy{
        display: inline-block;
        width:96px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        .bg-lan();
        .font-s();
        .centered-line(36px);
        .hover-link();
    }
}

.mian-column-content{
    .est-layout-page(1200px);
    .clearfix();
}
.u-more{
    padding-right: 10px;
    font-size: 16px;
    &:hover{
        color: @lan;
        .hover-link();
    }
}
.column-content-tit{
        background:#F8F8F8;
        border-right: #ddd 1px solid;
        border-left: #ddd 1px solid;
        padding-left: 10px;
        font-size: 24px;
        font-weight: 500;
        .centered-line(42px);
    }
.column-content1{
    .est-layout-page(458px);
    .con-shoplist1{
        height: 230px;
        border:#ddd 1px solid;
        .shop-tip{
            .centered-line(46px);
        }

        li{
            float: left;
            text-align: left;
            .centered-line(46px);
            .ellipsis();
        }
        .u-c1-row1{
            width: 48px;
            text-align: center;
        }
        .u-c1-row2{
            width: 88px;
        }
        .u-c1-row3{
            width: 62px;
        }
        .u-c1-row4{
            width: 62px;
        }
        .u-c1-row5{
            width: 94px;
        }
        .u-c1-row6{
            width: 100px;
            a{
                .hover-link();
            }
        }


    }
}
.column-bnt-border{
    display: inline-block;
    width:84px;
    background: url(../../images/column-bnt-border.gif) center center no-repeat;
    text-align: center;
    .centered-line(28px);
    .hover-link();

}
.column-content2{
    .est-layout-page(742px);
    .con-shoplist2{
        height: 230px;
        .ellipsis();
        .clearfix();
        .border-bottom{
            width: 720px;
            height: 45px;
            margin: 0 auto;
            border-bottom: #ddd 1px solid;
            font-weight: 500;
        }
        border:#ddd 1px solid;
        padding: 0 10px;
        li{
            float: left;
            text-align: center;
            .centered-line(46px);
            .ellipsis();
        }
        .u-c1-row1{
            width: 78px;
        }
        .u-c1-row2{
            width: 94px;
        }
        .u-c1-row3{
            width: 126px;
        }
        .u-c1-row4{
            width: 104px;
        }
        .u-c1-row5{
            width: 98px;
        }
        .u-c1-row6{
            width: 130px;
        }
        .u-c1-row7{
            width: 90px;
        }

    }
}
.column-content3{
    .est-layout-page(458px);
    .con-shoplist3{
        border:#ddd solid 1px;
        height:175px;
        overflow: hidden;
        li{
            float: left;
            text-align: center;
            .centered-line(42px);
            .ellipsis();
        }
        .u-c1-row1{
            width: 74px;
        }
        .u-c1-row2{
            width: 100px;
        }
        .u-c1-row3{
            width: 100px;
        }
        .u-c1-row4{
            width: 70px;
        }
        .u-c1-row5{
            width: 100px;
        }
    }
    .con-shoplist3-tit{
        background: #F8F8F8;
        border-bottom: #ddd solid 1px;
        overflow: hidden;
        .centered-line(44px);
        li{
            float: left;
            text-align: center;
            .centered-line(46px);
        }
        .u-c1-row1{
            width: 74px;
        }
        .u-c1-row2{
            width: 100px;
        }
        .u-c1-row3{
            width: 100px;
        }
        .u-c1-row4{
            width: 70px;
        }
        .u-c1-row5{
            width: 100px;
        }
    }
    .con-shoplist3-marquee{
          float: left;
        height: 130px;
        overflow: hidden;
    }
}

.column-content4{
    .est-layout-page(284px);
    .con-shoplist4{
        border:#ddd solid 1px;
        height:175px;
        overflow: hidden;
    }
    .con-shoplist4-tit{
        background: #F8F8F8;
        border-bottom: #ddd solid 1px;
        overflow: hidden;
        padding-left: 34px;
        .centered-line(44px);
    }
    .con-shoplist4-mian{
        padding: 34px;
        font-size: 16px;
        p{
            line-height: 24px;
        }

    }
}

.mian-column-left{
    position: absolute;
    width: 34px;
    height: 454px;
    left: -34px;
    top: 48px;
    background: url(../../images/column-tit-bg.png) left center no-repeat;
    h2{
        width: 34px;
        font-size: 24px;
        margin-top: 150px;
        text-align: center;
    }

}


// new
.l-main-column-new{
    height: 350px;
    margin-top:28px;
    margin-bottom: 28px;
    border:#ddd 1px solid;
    .est-layout-page(1198px);

}
// echart
.main-column-echart{
    .est-layout-page(539px);
    border-right: #ddd solid 1px;
    height: 350px;
}
.column-echart-tit{
    border-bottom: #ddd solid 1px;
    background:#F8F8F8;
    .centered-line(44px);
    h2{
        width:166px;
        border-right: #ddd solid 1px;
        border-bottom: #fff solid 1px;
        background: #fff;
        font-size:16px;
        font-weight: 500;
        text-indent: 22px;
        .font-s();
        .font-color-hei();
    }
}


// tab
.tab1{
    width:540px;
    position: relative;
}
.tab-hd1 {
      overflow: hidden;
      zoom: 1;
      width: 42px;
      position: absolute;
      right: 20px;
      top: 50px;
      z-index: 99999;
}
.tab-hd1 li{
    float:left;
    width:42px;
    color:#fff;
    text-align:center;
    cursor:pointer;
    background:#6A6A6A;
    margin: 4px 0;
    font-size: 14px;
    .centered-line(24px);
}
.tab-hd1 li.active{
    background:#F47449;
    // background: url(../../images/icon-tab-bg.png) center center no-repeat;
}
.tab-bd1 li{
    display:none;
}

.tab-new{
    width:658px;
}
.tab-hd-new{
  border-bottom: #ddd solid 1px;
  background: #F8F8F8;
  height: 44px;
  line-height: 44px;
}
.tab-hd-new li{
    float:left;
    width:132px;
    color:#333333;
    text-align:center;
    cursor:pointer;
    font-size: 16px;
    font-weight: 500;
    .font-s();
    .font-color-hei();
    .centered-line(44px);
}
.tab-hd-new li.active{
    border-right:#ddd solid 1px;
    border-left:#ddd solid 1px;
    border-bottom: #fff solid 1px;
    background:#fff;
    // background: url(../../images/icon-tab-bg.png) center center no-repeat;
}
.tab-bd-new>li{
    display:none;
}
.border-right{
    border-right:#ddd 1px dashed;
}
.column-new-list{
    width: 328px;
    height: 282px;
    margin-top: 14px;
    li{
        .centered-line(36px);
        padding-left: 34px;
        a{
            display: inline-block;
            width: 208px;
            .ellipsis();
            .hover-link();
        }
        em{
          float: right;
        margin-right: 20px;
        }
    }
}

.fooder{
    width: 100%;
    border-top:@lan 2px solid;
    background:#F8F8F8;
}
.l-fooder-mian{
    padding: 25px 0;
    .est-layout-page(1200px);
    .clearfix();
}
.fooder-mian-logo{
    width: 270px;
    text-align: center;
    .centered-line(96px);
}
.fooder-mian-green{
    width: 245px- 80px;
    height: 96px;
    text-align: left;
    padding-left: 50px;
    h2{
        font-size: 16px;
        font-weight: 500;
        padding-left: 34px;
        line-height: 34px;
        .font-color-hei();
    }
    .icon-green{
        background: url(../../images/icon-food-1.gif) left center no-repeat;
    }
    .icon-about{
        background: url(../../images/icon-food-2.gif) left center no-repeat;
    }
    li{
        padding-left: 34px;
        .centered-line(24px);
        a{
            font-size: 12px;
            .hover-link();
        }
    }
}
.fooder-mian-code{
    width: 180px;
    height: 96px;
    margin-left: 68px;
}
.fooder-code-content{
    width: 88px;
    font-size: 12px;
    span{
        line-height: 22px;
    }
}
.l-fooder-like,.l-fooder-copyright,.l-fooder-img{
    .est-layout-page(1200px);
    padding: 10px 0;
    text-align: center;
}
.l-fooder-copyright{
font-size: 12px;
}
// .l-fooder-img{

// }
// l-fixed-sidebar
.l-fixed-sidebar{
    li{
        width: 115px;
        height:40px;
        margin-bottom: 5px;
        a{
            display: inline-block;
            width: 100%;
            color: #fff;
            font-size: 14px;
            text-align: center;
            text-indent: 14px;
            .centered-line(40px);
            .hover-link();
        }
        .qq{
            background:url(../../images/icon-side-qq.png) 10px center no-repeat #0075C2;
        }
        .edit{
            background: url(../../images/icon-side-edit.png) 10px center no-repeat #FC703F;
        }
    }
}
/*weixin */
#box-kefu {
      position: fixed;
      right: 0;
      bottom:20px;
      width: 115px;
      height: 170px;
      z-index: 99999;
    // _position: absolute;
    // _top: expression(eval(document.documentElement.scrollTop+100));
}
#box-kefu .kefu-open {
    position: absolute;
    top: 3px;
    right: 6px;
    width: 115px;
    height: 174px;
    overflow:hidden;
}
#box-kefu .kefu-open .close {
    background:#FC703F;
    display: block;
    position: absolute;
    width: 115px;
    height: 40px;
    line-height: 40px;
    right: 0;
    bottom: 0px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    ;
}
#box-kefu .kefu-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 80px;
    padding: 0;
    background:url(../../images/content-me-sidebar.gif) center left no-repeat;
    cursor: pointer;
    overflow: hidden;
}


//商品列表页面
.l-map-nav{
    width: 100%;
    height: 42px;
    background: #FAFAFA;
    border-bottom: #ddd solid 1px;
    p{
        .est-layout-page(1200px);
        text-align: left;
        font-size:14px;
        .font-s();
        .centered-line(42px);
    }
    em{
        padding-right: 6px;
    }
}
.l-screen-column{
    margin-top: 18px;
    margin-bottom: 28px;
    .clearfix();
}
.screen-column-tit{
    height: 50px;
    .clearfix();
    h2{
        width: 144px;
        color: #333333;
        font-size: 24px;
        text-indent: 12px;
        font-weight: 500;
        .centered-line(50px);
    }
    .screen-result{
        display: inline-block;
        margin-top: 12px;
        margin-right: 8px;
        padding: 5px 38px 5px 2px;
        background: #2294dc;
        text-indent: 14px;
        color: #fff;
        font-size: 16px;
        position: relative;
        text-align: left;
        em{
            position: absolute;
            top: 3px;
            right: 5px;
            color: #fff;
        }
    }
    .edit-buy{
        display: inline-block;
        margin-top: 4px;
        width:154px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        text-indent:24px;
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        background: url(../../images/icon-side-edit.png) #F56915 12px center no-repeat ;
    }
}
.screen-column-mian{
    border:#ddd 2px solid;
    .clearfix();
    .screen-row{
        width: 100%;
        height: 52px;
        .clearfix();
        a{
            float: left;
            display: inline-block;
            margin-top: 12px;
            margin-right: 14px;
            padding: 6px 10px;
            text-align: center;
            .hover-link();
            &:hover{
                background: @lan;
                color: #fff;
            }
        }
        .tit{
            float: left;
            display: inline-block;
            width:118px;
            height: 50px;
            line-height: 50px;
            margin: 0 30px 0 0;
            padding: 0;
            // background:#F7F7F7;
            text-align: center;
            font-size:16px;
            color: #555555;
            font-weight: 500;
        }
        .all{
            background: @lan;
            color: #fff;
        }
    }
    .more-box{
              width: 926px;
              height: auto;
              float: right;
              margin-right: 122px;
        .clearfix();
        a{
            margin-bottom: 10px;
        }
    }
    .more-box-bnt{
        display: inline-block;
        margin-top: 12px;
        margin-right: 14px;
        padding: 6px 10px;
        text-align: center;
        background: #f47449;
        cursor: pointer;
        color: #fff;
    }
}

// 商品列表页面标题
.l-shoplist-column{
    border:#ddd solid 2px;
    padding-bottom: 20px;
    .clearfix();
}
.shoplit-tit{
    height: 40px;
    padding-top: 14px;
    border-bottom: #ddd solid 1px;
    h2{
        width: 144px;
        color: #333;
        font-size: 24px;
        text-indent: 12px;
        font-weight: 500;
    }
    span{
        display: inline-block;
        margin-right: 12px;
        height: 28px;
        line-height: 28px;
    }
    .min-price,.max-price{
        width: 70px;
        height: 28px;
        border:#ddd solid 1px;
        font-size: 14px;
        margin-right: 6px;
    }
    .price-line{
        height: 28px;
        line-height: 28px;
        margin-right: 6px;
    }
    button{
        border:none;
        background: @lan;
        width: 54px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        .centered-line(32px);
    }
    .f-sort{
        display: inline-block;
        width: 58px;
        height: 28px;
        margin-right: 12px;
        line-height: 28px;
        border:#ddd solid 1px;
        text-align: center;
    }
    .f-sort:hover,.f-sort-on{
        background:#F56915;
        color: #fff;
    }
    .shop-search{
        width: 226px;
        height: 28px;
        margin-left:30px;
        .shop-search-input{
            width:168px;
            border:#ddd solid 1px;
            text-indent: 12px;
            .centered-line(26px);
        }
        .shop-search-bnt{
            display: inline-block;
            width:42px;
            height: 30px;
            text-indent: -9999px;
            border: none;
            background: url(../../images/icon-shop-search-bnt.gif) left center no-repeat;
        }
    }
    .shoplisti-tit-page{
        width: auto;
        height: 30px;
        margin-right: 12px;
        overflow: hidden;
        background: url(../../images/icon-shoplisti-tit-page.gif) right center no-repeat;
        em{
            float: left;
            margin-top: 7px;
        }
        a{
            float: right;
            display: inline-block;
            width:23px;
            height: 28px;
            line-height: 28px;
            background: #F8FCFF;
            border:#ddd solid 1px;
            text-align: center;
            // .hide-text();
            &:hover{
                background:#f47449;
                color: #fff;
            }
        }
        .prev{

        }
    }
}
// 商品列表页面列表
.f-concern{
    display: inline-block;
    width: 25px;
    background: url(../../images/icon-concern1.png) center center no-repeat;
    .hide-text();
}
.shoplsit-row{
    height: 50px;
    border-bottom: #ddd solid 1px;
    width: 1174px;
    margin: 0 auto;
    &:hover{
        background: #F7F7F7;
    }
    &:hover .f-concern, .f-concern-on{
        background: url(../../images/icon-concern2.png) center center no-repeat;
    }
    li{
        float: left;
        text-align: center;
        .centered-line(50px);
    }
    .l-shoplist-row1{
        width: 124px;
    }
    .l-shoplist-row2{
        width: 70px;
    }
    .l-shoplist-row3{
        width: 86px;
    }
    .l-shoplist-row4{
        width: 96px;
    }
    .l-shoplist-row5{
        width: 130px;
    }
    .l-shoplist-row6{
        width: 110px;
    }
    .l-shoplist-row7{
        width: 102px;
    }
    .l-shoplist-row8,.l-shoplist-row9{
        width: 120px;
    }
    .l-shoplist-row10{
        width: 150px;
        a{
            .font-color-cheng();
            .hover-link();
        }
    }
    .l-shoplist-row11{
        width: 52px;

    }
    .l-shoplist-row12{
        width: 150px;
        a{
            padding: 5px 5px;
            background: @lan;
            color: #fff;
            .border-radius(5px);
            .hover-link();
        }

    }
}
.shoplsit-row-tit{
    background:#F7F7F7;
    font-weight: 500;
    border-bottom: #ddd solid 1px;
    padding: 0 11px;
}
.l-shoplist-page{
    margin: 16px 0 50px 0;
    font-size: 16px;
    .clearfix();
    a{
        display: inline-block;
        padding: 8px 10px;
        border: #ddd solid 1px;
        background: #f7f7f7;
        font-size: 12px;
    }
    a:hover,.active{
        background: #F56915;
        color: #fff;
    }
}


// 商品详情页面

.l-shopinfo-mian{
    margin-bottom: 50px;
    border:#ddd solid 2px;
    .clearfix();
    h2{
        border-bottom: #ddd solid 1px;
        font-size:30px;
        font-weight: 500;
        color: #535353;
        .centered-line(56px);
    }
    table{
        tr{
            td{
                font-size: 16px;
                color: #535353;
            }
        }
    }
}
.l-supply-input{
    margin-top: 26px;
    margin-bottom: 50px;
    border:#ddd solid 2px;
    padding: 0 80px;
    .clearfix();
    h2{
        border-bottom: #ddd solid 1px;
        font-size:30px;
        font-weight: 500;
        color: #535353;
        .centered-line(56px);
    }
    table{
        tr{
            td{
                font-size: 16px;
                color: #535353;
            }
        }
    }
}
.l-shopinfo-tit{
    height: 85px;
    margin: 26px auto;
    padding: 0 46px;
    border: #ddd solid 2px;
    border-top: @lan solid 2px;
    .qq{
        display:inline-block;
        width:158px;
        height: 42px;
        margin-left: 60px;
        color: #fff;
        font-size: 24px;
        text-align: center;
        text-indent: 17px;
        background: url(../../images/icon-side-qq.png) 14px center #0075c2  no-repeat;
    }
    .rengou{
        padding: 0 20px;
        height: 40px;
        text-align: center;
        color: #fff;
        font-size: 24px;
        background:#F56915;
    }
    .huanpan{
        padding: 0 20px;
        height: 40px;
        text-align: center;
        color: #fff;
        font-size: 24px;
        background:@lan;
    }

    span, a,{
        display: inline-block;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 20px;
        font-weight: 500;
        color: #535353;
        .centered-line(40px);
    }
    input{
        display: inline-block;
        margin-top: 20px;
        width:80px;
        border: #ddd solid 1px;
        font-size: 24px;
        text-align: center;
        .centered-line(40px);
    }
}
.l-shopinfo-mleft{
    width:829px;
    padding: 8px 26px 48px 26px;
    border-right:#ddd solid 1px;
    .product{
        padding: 10px 0;
        line-height: 28px;
        color: #535353;
    }
    .beizhu{
        line-height: 24px;
    }
}
.l-shopinfo-mright{
    padding: 8px 26px;
    width: 262px;
}
// 认购页面
.l-subscribe-page{
    min-height:400px;
    padding: 34px 50px;
}
// 行业资讯
// 行业资讯列表页面
.l-new-box{
    margin-top: 26px;
    margin-bottom:46px;
    .clearfix();
}
.l-new-left{
    width: 190px;
    min-height: 480px;
    _height: 480px;
    border-top:@lan solid 2px;
    border-right: #ddd solid 1px;
    border-left: #ddd solid 1px;
    border-bottom: #ddd solid 1px;
    background:#F5F5F5;
    h2{
        width: 160px;
        margin: 10px auto;
        border-bottom: #ddd solid 1px;
        font-size:24px;
        color: #333;
        text-align: center;
        .centered-line(58px);
    }
    h3{
        width: 160px;
        margin: 10px auto;
        font-size:16px;
        color: #333;
        font-weight: 500;
        text-indent: 36px;
        .centered-line(28px);
    }
    .border-dashed{
        display: block;
        width: 160px;
        height: 1px;
        margin: 10px auto;
        border-top: #ddd dashed 1px;
    }
    li{
        height: 58px;
        a{
            display:block;
            padding: 0 10px 0 50px;
            color: #333333;
            font-weight: 300px;
            text-align: left;
            .centered-line(58px);
        }
        a:hover,.active  {
            color: @lan;
        }
    }
}
.l-new-right{
    width: 990px;
    min-height: 480px;
    border-top:@lan solid 2px;
    border-right: #ddd solid 1px;
    border-left: #ddd solid 1px;
    border-bottom: #ddd solid 1px;
}
.l-new-tit{
    height:43px;
    padding-top: 12px;
    padding-left: 34px;
    background:#F5F5F5;
    border-bottom: #ddd solid 1px;
    span{
        display: inline-block;
        margin-right: 12px;
        .centered-line(32px);
    }
    input{
        display: inline-block;
        margin-right: 12px;
        width: 106px;
        height: 26px;
        text-indent: 10px;
    }
    button{
        width: 58px;
        height: 32px;
        border:none;
        background: @lan;
        color: #fff;
        cursor: pointer;
    }
    .shop-search{
        width: 226px;
        height: 28px;
        margin-left:30px;
        .shop-search-input{
            width:168px;
            border:#ddd solid 1px;
            text-indent: 12px;
            margin-right: 0;
            .centered-line(26px);
        }
        .shop-search-bnt{
            display: inline-block;
            width:42px;
            height: 30px;
            text-indent: -9999px;
            border: none;
            background: url(../../images/icon-shop-search-bnt.gif) left center no-repeat;
        }
    }
    .shoplisti-tit-page{
        width: 86px;
        height: 30px;
        margin-right: 12px;
        overflow: hidden;
        background: url(../../images/icon-shoplisti-tit-page.gif) right center no-repeat;
        em{
            float: left;
            margin-top: 7px;
        }
        a{
            float: right;
            display: inline-block;
            width:23px;
            height: 28px;
            line-height: 28px;
            background: #F8FCFF;
            border:#ddd solid 1px;
            text-align: center;
            // .hide-text();
            &:hover{
                background:#f47449;
                color: #fff;
            }
        }
        .prev{
        }
    }
}
.l-new-list{
    border-top: #ddd solid 1px;
    .clearfix();
    li{
        width: 940px;
        margin: 0 auto;
        padding: 0 9px;
        .centered-line(48px);
    }
    li:hover{
        background:#F6782C;
    }
    li:hover .u-list-number-bg{
        background: url(../../images/icon-list-number-bgh.gif) left center no-repeat;
        color: #F6782C;
    }
    li:hover .u-list-a,li:hover em {
        color: #fff;
    }
    .u-list-number-bg{
        float: left;
        display: inline-block;
        width: 23px;
        color: #fff;
        text-align: center;
        background: url(../../images/icon-list-number-bg.gif) left center no-repeat;
    }
    .u-list-a{
        float: left;
        display: inline-block;
        padding-left: 10px;
        width:600px;
        .ellipsis();
    }

}
.l-new-page{
    width: 992px;
    height: 45px;
    float: right;
    margin: 16px 0 0 0;
}


.l-new-screen{
    margin: 0 !important;
}
.l-new-screen-mian{
    border:none !important;
}


// 文章详情页面
.l-new-info{
    width: 930px;
    min-height: 480px;
    border-top:@lan solid 2px;
    border-right: #ddd solid 1px;
    border-left: #ddd solid 1px;
    border-bottom: #ddd solid 1px;
    padding: 30px;
    .clearfix();
}
.l-new-info{

}
.l-new-article{

}
.new-info-tit{
    font-size:24px;
    color: #0075C1;
    text-align: center;
    font-weight: 500;
    .centered-line(48px);
}
.new-info-abstract{
    font-size:14px;
    color: #878787;
    text-align: center;
    border-bottom: #ddd solid 1px;
    .centered-line(48px);
}
.new-info-mian{
    padding: 10px 12px;
}
.new-info-relate{
    width: 264px;
    margin-top: 58px;
    h2{
        font-size: 18px;
        color: #333333;
        font-weight: 500;
        border-bottom: #ddd solid 1px;
        .centered-line(38px);
    }
    li{
        list-style-type: disc;
        .centered-line(34px);
        .ellipsis();
        a{
            .hover-link();
            &:hover{
                color: #f12d00;
            }
        }
    }
}

// 关于我们页面
.l-content-info{
    width: 930px;
    min-height: 480px;
    border-top: #2294dc solid 2px;
    border-right: #ddd solid 1px;
    border-left: #ddd solid 1px;
    border-bottom: #ddd solid 1px;
    padding: 30px;
    h2{
        height: 30px;
        border-bottom: #ddd solid 1px;
        span{
            display: inline-block;
            margin-bottom: -1px;
            padding-left: 20px;
            padding-right: 30px;
            font-size: 20px;
            font-weight: 500;
            color: @lan;
            border-bottom: @lan solid 1px;
            .centered-line(30px);
        }
    }
    .content-info-mian{
        margin: 30px auto 40px auto;
    }
}

// 用户注册页面
.l-register-page{
    padding: 38px 0 40px 0;
}
.u-register-status{
    margin-bottom: 36px;
}
.u-register-box{
    .clearfix();
}
.l-register-left{
    width: 780px;
    height: 386px;
    border-right: #ddd solid 1px;
}
.l-register-text{
    width: 355px;
    padding:30px 40px 0 24px;
    h2{
        font-weight: 500;
        color: #535353;
        font-size: 16px;
        .centered-line(30px);
    }
    h3{
        font-weight: 500;
        color: #535353;
        font-size: 16px;
        border-top: #ddd solid 1px;
        .centered-line(48px);
    }
    p{
        font-size: 14px;
        line-height: 22px;
    }
    .f-now-login{
        display: inline-block;
        width: 216px;
        margin-top: 34px;
        margin-bottom: 34px;
        color: #fff;
        background: @lan;
        font-size: 24px;
        text-align: center;
        font-weight: 500;
        .centered-line(48px);
        .border-radius(5px);
    }

}
// 弹出窗体样式
.layui-lan{
     border-radius: 8px;
    overflow: hidden;
    border: rgba(51, 51, 51, 0.53) solid 6px;
}
.layui-layer-title{
        font-size: 20px !important;
        color: #333333;
        font-weight: 500;
    }
.layui-login{
  border-radius: 8px;
  overflow: hidden;
  border: rgba(51, 51, 51, 0.53) solid 6px;
}
.layui-user{
    .box-shadow(0 0 16px rgba(0, 0, 0, 0.5))!important;
    .layui-layer-title{
        background: #2294DC !important;
        font-size: 20px !important;
        color: #fff !important;
        font-weight: bold !important;
    }

}



// 用户中心模块
// 会员中心首页
// 会员页面导航页面
.header-user{
    width: 100%;
    height: 86px;
    padding-top: 34px;
    background:#0075C1;
}
.header-user-box,{
    .est-layout-page(1200px);
    .clearfix();
}
.logo-user{
    padding-right: 12px;
    border-right: #66ACDA solid 2px;
}
.user-nav{
    height: 86px;
    .est-layout-page(922px);
    .clearfix();
    li{
        float: left;
        width: 168px;
        height: 86px;
        a{
            display: inline-block;
            float: left;
            width: 150px;
            font-size: 24px;
            color: #f5f5f5;
            font-weight: 500;
            text-align: center;
            .centered-line(86px);
        }
        a:hover,.active{
            color: #fff;
            background: url(../../images/icon-user-header-up.gif) center 78px no-repeat;
            .hover-link();
        }
        em{
            color: #66acda;
            font-size: 24px;
            font-weight: 500;
            .centered-line(86px);
        }
    }
    .user-nav-one{
        margin-right: 250px;
    }
}
.l-map-user{
    height: 50px;
    margin-top: 8px;
    border-bottom: #ddd solid 2px;
    .est-layout-page(1200px);
    .clearfix();
    h2{
        float: left;
        line-height: 50px;
        font-size:24px;
        font-weight: 500;
    }
    em{
        line-height: 50px;
        float: left;
        padding: 0 6px;
    }
}

.l-user-info{
    height: 120px;
    margin-bottom: 10px;
    padding: 20px 30px;
    border-bottom: #ddd solid 1px;
    .est-layout-page(1100px);
    .clearfix();
    .user-img{
        width: 118px;
        height: 118px;
        margin-right: 30px;
        overflow: hidden;
        position: relative;
        .user-img-circle{
            position: absolute;
            width: 118px;
            height: 118px;
            background: url(../../images/user-img-circle.png)  center center no-repeat;
            z-index: 9999;
        }
        img{
            position: absolute;
            width: 118px;
            height: 118px;
            background: url(../../images/user-default-img.gif) center center no-repeat;
            z-index: 999;
        }
    }
    .l-user-message{
        float: left;
        width: 940px;
        padding-top: 8px;
        li{
            float: left;
            width: 378px;
            height: 40px;
            label{
                width:70px;
                font-size: 16px;
            }
            a{
                color: @lan;
                font-size: 16px;
                .hover-link();
            }
        }
    }
}

// 会员中心首页订单详情
.l-user-home-order{
    margin-bottom: 10px;
    padding: 20px 30px;
    border-bottom: #ddd solid 1px;
    .est-layout-page(1100px);
    .clearfix();
    .l-order-icon{
        width: 118px;
        height: 118px;
        margin-right: 30px;
        background: url(../../images/icon-user-hmoe-order.gif) center center no-repeat;
    }

    .l-order-info{
        .u-order-tit{
            margin-bottom: 10px;
            a{
                display: inline-block;
                padding: 0 20px 0 0;
                font-size: 24px;
                font-weight: 500;
                margin-right: 40px;
            }
        }
        .u-order-recent{
            p{
                text-align: left;
                font-weight: 500;
                font-size: 16px;
                .centered-line(46px);
            }
            table{
                th{
                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
                    border:#ddd solid 1px;
                }
                td{
                    font-size: 16px;
                    text-align: center;
                    border:#ddd solid 1px;
                    border-top: transparent;
                }
            }
        }
    }
}
.l-user-home-eidt{
    margin-bottom: 10px;
    padding: 20px 30px;
    .est-layout-page(1100px);
    .clearfix();
    .u-eidt-icon{
        width: 118px;
        height: 118px;
        margin-right: 30px;
        background: url(../../images/icon-uesr-home-eidt.gif) center center no-repeat;
    }
    .l-eidt-info{
        .o-eidt-tit{
            margin-bottom: 10px;
            a{
                display: inline-block;
                padding:12px 13px;
                font-size: 24px;
                font-weight: 500;
                color: #fff;
                text-align: center;
                .border-radius(3px);
                .hover-link();
            }
            .u-supply{
                .rgba-background(@lan, 80%);
                &:hover{
                    .rgba-background(@lan, 100%);
                }
            }
            .u-purchase{
                .rgba-background(#F46915, 80%);
                &:hover{
                    .rgba-background(#F46915, 100%);
                }
            }

        }
        .u-eidt-recent{
            p{
                text-align: left;
                font-weight: 500;
                font-size: 16px;
                .centered-line(46px);
            }
            table{
                margin-bottom: 24px;
                th{
                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
                    border:#ddd solid 1px;
                }
                td{
                    font-size: 16px;
                    text-align: center;
                    border:#ddd solid 1px;
                    border-top: transparent;
                    input{
                        display: inline-block;
                        width: 60%;
                        padding: 4px 7px;
                        border:#ddd solid 1px;
                        background: #F7F7F7;
                        text-align: center;
                        .ellipsis();
                    }
                    .f-new-release{
                        display: inline-block;
                        padding: 4px 5px;
                        background: @lan;
                        color: #fff;
                        text-align: center;
                        .border-radius(3px);
                        .hover-link();
                    }
                }
            }
        }
    }

}

// 会员中心我的账号页面
.l-myaccount-page{
    margin-bottom: 70px;
    padding-top: 16px;
    .clearfix();
}
.l-certificate-page,.u-certificate-tip{
    .clearfix();
}
.f-confirmmodify{
    .clearfix();
}
// 会员中心我的我要发布
.u-myreleasehome-tit{
    .clearfix();
}
.u-myreleasehomeinfo-tit,.u-certificate-uploading{
    .clearfix();
}
@import "./u-user.less";
@import "./u-myaccount.less";
