
.l-myaccount-left{
    width: 190px;
    min-height: 482px;
    background:#F5F5F5;
    h2,li{
        width: 170px;
        height: 60px;
        line-height: 60px;
        padding-right: 10px;
        text-align: center;
        overflow: hidden;
        em{
            float: right;
        }
    }
    li:hover,.active{
        a,em{color: #2193db;}
    }
    .u-myaccount-jbxx{
        background: url(../../images/icon-myaccount-jbxx1.gif) 22px  center no-repeat;
    }
    .u-myaccount-jbxx:hover,.active{
        background: url(../../images/icon-myaccount-jbxx2.gif) 22px  center no-repeat;
        a,em{color: #2193db;}

    }
    .u-myaccount-zlrz{
        background: url(../../images/icon-myaccount-rzzl1.gif) 22px  center no-repeat;
    }
    .u-myaccount-zlrz:hover,.active{
        background: url(../../images/icon-myaccount-zlrz2.gif) 22px  center no-repeat;
        a,em{color: #2193db;}

    }
    .u-myaccount-zhaq{
        background: url(../../images/icon-myaccount-zhaq1.gif) 22px  center no-repeat;
    }
    .u-myaccount-zhaq:hover,.active{
        background: url(../../images/icon-myaccount-zhaq2.gif) 22px  center no-repeat;
        a,em{color: #2193db;}

    }


}
.l-myaccount-right{
    width: 956px;

}
.u-basicsinformation-list{
    li{
        float: left;
        width: 956px;
        height: 80px;
        border-bottom: #ddd solid 1px;
        label,span,a{
            float: left;
            display: inline-block;
            height: 80px;
            line-height: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            white-space: nowrap;
        }
        label{
            width: 96px;
            margin-right: 180px;
            text-align: right;
        }
        span{
            width: 560px;
            text-align: left;
        }
        a{
            width: 120px;
            text-align: right;
            color:#2193DB;
        }
    }
}