
.l-myaccount-left{
    width: 190px;
    min-height: 482px;
    background:#F5F5F5;
    h2,li{
        width: 170px;
        height: 60px;
        line-height: 60px;
        padding-right: 10px;
        text-align: center;
        overflow: hidden;
        &:hover{
            a,em{color: #2193db !important;}
        }
        a{
            display: block;
            padding-left: 52px;
        }
        em{
            float: right;
        }
    }
    .li-active{
        a,em{color: #2193db !important;}
    }
    .u-myaccount-jbxx a{
        background: url(../../images/user/icon_message_nor.png) 22px  center no-repeat;
    }
    .u-myaccount-jbxx a:hover,.u-myaccount-jbxx .active{
        background: url(../../images/user/icon_message_hover.png) 22px  center no-repeat;
        color:#2193db;
        em{color: #2193db;}

    }
    .u-myaccount-zlrz a{
        background: url(../../images/user/icon_approve_nor.png) 22px  center no-repeat;
    }
    .u-myaccount-zlrz a:hover, .u-myaccount-zlrz .active{
        background: url(../../images/user/icon_approve_hover.png) 22px  center no-repeat;
         color:#2193db;
        em{color: #2193db;}

    }
    .u-myaccount-zhaq a{
        background: url(../../images/user/icon_message_nor.png) 22px  center no-repeat;
    }
    .u-myaccount-zhaq a:hover,.u-myaccount-zhaq .active{
        background: url(../../images/user/icon_message_hover.png) 22px  center no-repeat;
         color:#2193db;
        em{color: #2193db;}
    }
    // 我的发布页面图标
    .u-myrelease-fbxq a{
        background: url(../../images/user/icon_publish_nor.png) 22px  center no-repeat;
    }
    .u-myrelease-fbxq a:hover,.u-myrelease-fbxq .active {
        background: url(../../images/user/icon_publish_hover.png) 22px  center no-repeat;
          color:#2193db;
        em{color: #2193db;}
    }
    .u-myrelease-fbgy a{
        background: url(../../images/user/icon_publish_nor.png) 22px  center no-repeat;
    }
    .u-myrelease-fbgy a:hover,.u-myrelease-fbgy .active {
        background: url(../../images/user/icon_publish_hover.png) 22px  center no-repeat;
          color:#2193db;
        em{color: #2193db;}
    }
    .u-myrelease-wdhp a{
        background: url(../../images/user/icon_counter_nor.png) 22px  center no-repeat;
    }
    .u-myrelease-wdhp a:hover,.u-myrelease-wdhp .active {
        background: url(../../images/user/icon_counter_hover.png) 22px  center no-repeat;
          color:#2193db;
        em{color: #2193db;}
    }
    .u-myrelease-wdgz a{
        background: url(../../images/user/icon_attent_nor.png) 22px  center no-repeat;
    }
    .u-myrelease-wdgz a:hover,.u-myrelease-wdgz .active {
        background: url(../../images/user/icon_attent_hover.png) 22px  center no-repeat;
          color:#2193db;
        em{color: #2193db;}
    }
    // 我的交易页面图标
    .u-mydeal-xqdd a{
        background: url(../../images/user/icon_purchase_nor.png) 22px  center no-repeat;
    }
    .u-mydeal-xqdd a:hover,.u-mydeal-xqdd .active {
        background: url(../../images/user/icon_purchase_hover.png) 22px  center no-repeat;
          color:#2193db;
        em{color: #2193db;}
    }
    .u-mydeal-cgdd a{
        background: url(../../images/user/icon_purchase_nor.png) 22px  center no-repeat;
    }
    .u-mydeal-cgdd a:hover,.u-mydeal-cgdd .active {
        background: url(../../images/user/icon_purchase_hover.png) 22px  center no-repeat;
          color:#2193db;
        em{color: #2193db;}
    }
    .u-mydeal-gydd a{
        background: url(../../images/user/icon_supply_nor.png) 22px  center no-repeat;
    }
    .u-mydeal-gydd a:hover,.u-mydeal-gydd .active {
        background: url(../../images/user/icon_supply_hover.png) 22px  center no-repeat;
          color:#2193db;
        em{color: #2193db;}
    }
    .u-mydeal-dbht a{
        background: url(../../images/user/icon_backlog_nor.png) 22px  center no-repeat;
    }
    .u-mydeal-dbht a:hover,.u-mydeal-dbht .active {
        background: url(../../images/user/icon_backlog_hover.png) 22px  center no-repeat;
          color:#2193db;
        em{color: #2193db;}
    }
}
.l-myaccount-right{
    width: 956px;
}
.u-basicsinformation-list{
    li{
        float: left;
        width: 956px;
        height: 80px;
        border-bottom: #ddd solid 1px;
        label,span,a{
            float: left;
            display: inline-block;
            height: 80px;
            line-height: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            white-space: nowrap;
        }
        label{
            width: 96px;
            margin-right: 180px;
            text-align: right;
        }
        span{
            width: 560px;
            text-align: left;
        }
        a{
            width: 120px;
            text-align: right;
            color:#2193DB;
        }
    }
}
.l-certificate-page{

    .u-certificate-tip{
        margin-bottom: 20px;
        padding:30px 98px;
        background: #CCCCCC;
        label{
            float: left;
            font-size: 16px;
            font-weight: 600;
            color: #333333;
            text-align: right;
            line-height: 24px;
        }
        span{
            float: right;
            display: inline-block;
            width: 690px;
            color: #333;
            line-height: 24px;
        }
    }
    .u-certificate-input{
        padding-left: 34px;
    }
    .u-certificate-img-tip{
        padding: 30px 98px;
        background: #ccc;
        color: #333;
    }
    .u-certificate-uploading{
        padding-top: 20px;
        li{
            width: 252px;
            height: 290px;
            margin-right: 100px;
            float: left;
            em{
                color: #f00;
            }
            p{
                line-height: 24px;
                font-weight: 600;
            }
            .f-certificate-img{
                width: 252px;
                height: 200px;
                margin-bottom: 20px;
                border:#ddd solid 1px;
                overflow:hidden;
            }
            .f-certificate-bnt{
                position: relative;
                width: 252px;
                height: 33px;
            }
            .f-certificate-bg{
                position: absolute;
                top: 0;
                left: 0;
                width: 252px;
                height: 33px;
                line-height: 33px;
                background:#2294DC;
                color: #fff;
                text-align: center;
                font-weight: 600;
                z-index: 999;
            }
            .f-certificate-input{
                position: absolute;
                top: 0;
                left: 0;
                width: 252px;
                height: 33px;
                border:none;
                cursor: pointer;
                opacity: 0;
                -moz-opacity:0;
                filter:alpha(opacity=0);
                z-index: 9999;
            }
        }
    }
    .u-submit-box{
        margin-top: 30px;
        padding-top: 30px;
        border-top: #ddd solid 1px;
        text-align: center;
        a{
            display: inline-block;
            padding: 8px 46px;
            text-align: center;
            border-radius: 4px;
        }
        .u-submit{
            color: #fff;
            background:#2294dc;
        }
        .u-cancel{
            color: #000;
            background: #cccccc;
        }
    }
    .margin-right0{
        margin-right: 0px !important;
    }

}
.u-changepassword-input{
    padding:30px;
}
.u-changepassword-ok{
    height: 68px;
    margin: 88px 200px;
    padding-left:86px;
    background: url(../../images/user/icon-changepassword-ok.gif) left center no-repeat;
    h2{
        color: #3BA114;
        font-size: 30px;
        font-weight: 600;
        line-height: 28px;
    }
    p{
        margin-top: 10px;
        line-height: 24px;
        color: #535353;
        font-size: 20px;
        font-weight: 600;
    }

}
.l-changepassemail-input{
    padding-left: 95px;
    background: url(../../images/user/icon-changepassemail.gif) left top no-repeat;
    h2{
        font-size: 20px;
        font-weight: 600;
        line-height: 34px;
    }
    p{
        line-height: 34px;
    }
    .modify{
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 0 40px;
        border: #ddd solid 1px;
        background: #fbfbfb;
        line-height: 34px;
        font-size: 20px;
        font-weight: 600;
    }
    input{
        width:246px;
        height: 38px;
        margin-right: 12px;
        text-indent: 8px;
        border:#ddd solid 1px;
    }
    .confirmmodify{
        display: inline-block;
        height: 42px;
        line-height: 42px;
        border-radius: 3px;
        padding:0 16px;
        background:#2193DB;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }

}
.l-changephone-input{
    padding-left: 95px;
    background: url(../../images/user/icon-changephone.gif) left top no-repeat;
    h2{
        font-size: 20px;
        font-weight: 600;
        line-height: 34px;
    }
    p{
        line-height: 34px;
    }
    .modify{
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 0 40px;
        border: #ddd solid 1px;
        background: #fbfbfb;
        line-height: 34px;
        font-size: 20px;
        font-weight: 600;
    }
}
.l-myreleasehome-page{

}
.u-myreleasehome-tit {
    width:978px;
    height: 32px;
    margin-top: 20px;
    overflow: hidden;
    label,select{
        display: inline-block;
        height: 32px;
        line-height: 32px;
    }
    select{
        margin-right: 24px;
    }
    .input-box{
        width: 212px;
        height: 32px;
        overflow: hidden;
        input{
            width: 150px;
            height: 28px;
            line-height: 28px;
            border:#2193DB solid  1px;
            text-indent: 8px;
            font-weight: 600;
        }
        .ss-bnt{
            display: inline-block;
            width: 58px;
            height: 32px;
            line-height: 32px;
            border:none;
            text-align: center;
            font-weight: 600;
            color: #fff;
            background: #2193DB;
        }
    }
    .fb-bnt{
        display: inline-block;
        margin-left: 24px;
        height: 32px;
        line-height: 32px;
        padding: 0 12px;
        text-align: center;
        text-indent: 24px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        background:url(../../images/user/button_supply_bg.png) left center no-repeat;
    }
    .wd-bnt{
        display: inline-block;
        margin-left: 14px;
        height: 32px;
        line-height: 32px;
        padding: 0 2px;
        text-align: center;
        text-indent: 24px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        background: #f56915;
        border-radius: 4px;
    }

}
.u-myreleasehome-list{
    padding-top: 20px;
    table{
        th{
            border-top:#ddd solid 1px;
            background: #f5f5f5;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            color: #333;
        }
        td{
            border-top:#ddd solid 1px;
            text-align: center;
            font-weight: 400;
        }
    }
    .delete-bnt{
        display: inline-block;
        width: 24px;
        height: 24px;
        text-indent: -9999px;
        background: url(../../images/user/icon_delete_nor.png) center center no-repeat;
        &:hover{
            background: url(../../images/user/icon_delete_hover.png) center center no-repeat;
        }
    }
}
.u-myreleasehomeinfo-tit{
    h2{
        font-size: 24px;
        font-weight: 600;
    }
    a{
        display: inline-block;
        padding:6px 23px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        background: #f56915;
        border-radius: 3px;
    }
    .disable-bnt{
        background: #B3B3B3 !important;
    }

}
.u-myreleasehomeinfo-box{
    padding: 30px 0;
    h2{
        border-bottom: #ddd solid 1px;
        font-size: 24px;
        font-weight: 600;
        color: #535353;
        height: 56px;
        line-height: 56px;
    }
    .product {
        padding: 10px 0;
        line-height: 28px;
        color: #535353;
    }
    .u-myreleasehomeinfo-table{
        border:#ddd solid 1px;
        th{
            border-bottom: #ddd solid 1px;
            background: #f5f5f5;
            text-align: center;
            font-size: 20px;
            color: #333;
            font-weight: 600;
        }
        td{
            text-align: center;
            font-size: 20px;
        }
    }
}
.u-mydealhomecongirm{
    margin: 10px 0 40px 0;
    text-align: center;
}
.u-mydealhomeconfirm-info{
    padding:14px 32px;
    background: #FBF0E0;
    border:#ddd solid 2px;
    .text-align-right{
        text-align: right;
    }
    table{
        font-size: 16px;
        color: #333;
        font-weight: 500px;
    }
    h2{
        padding: 14px 32px;
        border-top: #ddd solid 2px;
        border-bottom: none;
        line-height: 45px;
        color: #FF4747;
    }

}


// 张楚唯 2015/8/31 9:17:52
// 上面那一段
// 张楚唯 2015/8/31 9:18:02
// 我就只加了这么点东西
// 张楚唯 2015/8/31 9:18:07
// 其他的没敢碰
.u-mydealhomecongirm{
    display: inline-block;
    margin: 10px 0 40px 0;
    text-align: center;
    .date-line{
        width: 938px;
        border-bottom: 2px solid #dddddd;
        margin-top: 20px;
    }
    dl{
        width: 58px;
        margin-left: 80px;
        float: left;
        display: block;
        position: relative;
        top: -15px;
        .num-grey{
            background: url(../../images/user/icon_numbg_nor.png);
            color: #b7b7b7;
        }
        .num-red{
            background: url(../../images/user/icon_numbg_hover.png);
            color: #ffffff;
        }
        dt{
            display: inline-block;
            position: relative;
            width: 29px;
            height: 29px;
            line-height: 29px;
            text-align: center;
        }
        dd{
            font-size: 14px;
            text-align: center;
            margin-top: 10px;
        }
    }
}

