.user-numbur-bg{
    display: inline-block;
    width:22px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 20px;
    background:#62AFE0;
}
.mian-user{
    width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}
.u-managemenlist-tit{
    margin-bottom: 20px;
}
.u-managemenlist-box{
    height: 310px;
    overflow-y: auto;
    border:#ddd solid 1px;
    table{
        td{
            text-align: center;
            font-weight: bold;
        }
    }
}
.u-managemeninfo-box{
    height: 310px;
    overflow-y: auto;
    overflow-x:hidden;
    border-bottom: #ddd solid 1px;
    li{
        float: left;
        width: 598px;
        height: 310px;
    }
    table{
        td{
            font-weight: bold;
        }
    }

}
.u-managemeninfo-bottom{
    margin: 0 auto;
    width: 140px;
    height: 25px;
    margin-top: 10px;
    a{
        float: left;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 5px;
        text-indent: -99999px;
        overflow: hidden;
    }
    #managemeninfo-next{
        background: url(../../images/icon-u-managemeninfo-next.png) center center  no-repeat;
    }
    #managemeninfo-prev{
        background: url(../../images/icon-u-managemeninfo-prev.png) center center  no-repeat;
    }
    .u-managemeninfo-edit{
        background: url(../../images/icon-u-managemeninfo-edit.png) center center  no-repeat;
    }
    .u-managemeninfo-delete{
        background: url(../../images/icon-u-managemeninfo-delete.png) center center  no-repeat;
    }
}
.u-counteroffermessage-box{
    table{
        td{
            font-weight: bold;
            text-align: left;
        }
    }
}
.u-addmanagemen-box{
    table{
        th{
            text-align:right;
            font-size: 20px;
            font-weight: bold;
        }
        td{
            font-weight: bold;
            font-size: 20px;
            input{
                line-height: 30px;
                text-indent: 8px;
                font-size: 20px;
                color: #333333;
            }
            span{
                font-size: 16px;
                color: #f00;
            }
            a{
                display:block;
                width: 318px;
                height: 40px;
                margin: 10px auto 0 auto;
                border-radius: 5px;
                line-height: 40px;
                color: #fff;
                font-size: 24px;
                text-align: center;
                background: #f56915;
            }
            label{
                font-size: 16px;
                font-weight: 400;
            }
        }

    }
}

